@import "../../scss/colors.scss";

.signIn {
    width: 424px;
    padding: 24px 32px;
    border: 1px solid $gray--400--color;
    border-radius: 8px;
    background-color: $white--color;
    .title {
        font-size: 20px;
        font-weight: 400;
        text-align: center;
    }
    .description {
        display: inline-block;
        text-align: center;
        font-size: 14px;
        color: $gray--400--color;
        position: relative;
        &::after {
            content: "";
            height: 1px;
            width: 30%;
            background-color: $gray--400--color;
            position: absolute;
            top: 60%;
            right: 0;
            z-index: 10;
        }
        &::before {
            content: "";
            height: 1px;
            width: 30%;
            background-color: $gray--400--color;
            position: absolute;
            top: 60%;
            left: 0;
            z-index: 10;
        }
    }
    .ant-btn-primary {
        background-color: #ff6600;
        border-color: #ff6600;
        color: white;
        font-weight: 600;
        width: 100%;
        height: 40px;
        margin-bottom: 10px;

        &:hover {
        background-color: #e26017 !important;
        border-color: #e26017 !important;
        }
    }

    .ant-btn-default {
        background-color: white;
        border: 1px solid #ff6600;
        color: #ff6600;
        font-weight: 600;
        width: 100%;
        height: 40px;

        &:hover {
        background-color: #e26017;
        border-color: #e26017 !important;
        color: #e26017 !important;
        }
    }
}
