.track-order-page {
  max-width: 1280px;
  margin: 40px auto;
  background: #fff;

  .description {
    display: block;
    margin-bottom: 24px;
    font-size: 16px;
    color: #666;
  }

  .track-order-form {
    .ant-form-item-label > label {
      font-weight: 500;
    }

    .form-footer {
      margin-top: 20px;
    }

    button {
      width: 100%;
      max-width: 200px;
    }
  }
  .ant-btn-primary {
    background-color: #ff6600;
    border-color: #ff6600;
    color: white;
    font-weight: 600;
    width: 100%;
    height: 40px;
    margin-bottom: 10px;

    &:hover {
      background-color: #e26017 !important;
      border-color: #e26017 !important;
    }
  }

  .ant-btn-default {
    background-color: white;
    border: 1px solid #ff6600;
    color: #ff6600;
    font-weight: 600;
    width: 100%;
    height: 40px;

    &:hover {
      background-color: #e26017;
      border-color: #e26017 !important;
      color: #e26017 !important;
    }
  }
}
