@import "../../scss/colors.scss";

.header {
    .main-header {
        padding: 12px;
        background-color: $primary--color;
        &--wrapper {
            max-width: 1280px;
            margin: auto;
        }
        .icon--wrapper {
            position: relative;
        }
        .signIn-modal {
            position: absolute;
            top: 40px;
            right: 0;
        }
    }
    .input--search {
        width: 500px;
    }
    .nav-header {
        background-color: $white--color;
        padding: 12px;
        .category--btn {
            border-radius: 6px;
            background-color: $gray--50--color;
            border: none;
            font-weight: 600;
            &:hover {
                opacity: 0.6;
                background-color: $gray--50--color;
                color: $black--color;
            }
            &.open {
                background-color: #ff6600;
                color: white;
                border-color: #ff6600;
            }
        }
        &--wrapper {
            max-width: 1280px;
            margin: auto;
            position: relative;
        }
        .category--menu {
            position: absolute;
            top: 42px;
        }
    }
}
.active-btn {
    color: $primary--color;
    font-weight: bold;
    border-bottom: 2px solid #ff6600;
}