@import "../../scss/colors.scss";

.footer {
    background-color: $primary--color;
    padding: 72px 0;
    text-align: center;
    &--wrapper {
        max-width: 1280px;
        margin: auto;
    }
    .title,
    .description {
        color: $white--color;
        margin-bottom: 32px;
    }
    .input--search {
        width: 624px;
        margin-bottom: 32px;
        .ant-btn-primary {
            background-color: $orange--color;
            font-weight: 600;
            border-radius: 0;
        }
        .ant-input-affix-wrapper {
            border-radius: 0 !important;
        }
    }
}
