$primary--color: #1b6392;
$white--color: #ffffff;
$gray--50--color: #f2f4f5;
$gray--400--color: #929fa5;
$black--color: #000000;
$orange--color: #fa8232;
$warning--color: #efd33d;
$blue--color: #2da5f3;
$product-item--hover--color: rgba(0, 0, 0, 0.2);
